### PyTorch template
tmp
log
data
!log/log.conf
!weights/default.pth

### Python template
*.pyc

### JetBrains template
.idea/
cmake-build-*/

### VisualStudioCode template
.vscode/
.history/

### macOS template
.DS_Store
